# Virtual environments
.venv
venv
conda

# Cache files
__pycache__/

# Output files
!out/

# Build files
dist/
build/

# Large files
res/books/

# Logs
*.log

# Environment Variables
.env*

# Except the example ones
!.env.example